
    <ngx-slick-carousel class="carousel" 
    #slickModal="slick-carousel" 
    [config]="slideConfig" >
        <div ngxSlickItem *ngFor="let slide of imageUrls" class="slide">
        <img src="{{ slide.img }}" alt="" width="100%">
        </div>
    </ngx-slick-carousel>

    <div _ngcontent-cnh-c3="" class="container container_menu welcome_area">
        <div _ngcontent-cnh-c3="" class="text_welcome title_welcome">ยินดีต้อนรับสู่ <span _ngcontent-cnh-c3="" style="color: #ff2db2;">918KISSKISSTH</span></div><span _ngcontent-cnh-c3="" class="text_welcome des_welcome"><span _ngcontent-cnh-c3="" style="color: #ff2db2;">918KISSKISSTH</span> เราคือผู้นำเว็บเกมส์ออนไลน์มาตรฐานสากล เปิดให้บริการเกมส์ออนไลน์ทุกรูปแบบ เกมส์สล็อตออนไลน์ เกมส์ไพ่ เกมส์ยิงปลา เกมส์แข่งม้า และเกมส์อื่นๆ อีกมากมาย เปิดให้บริการเต็มรูปแบบ เราเป็นตัวแทนหลัก 918Kiss ท่านจึงมั่นใจได้ถึงคุณภาพของเกมส์ออนไลน์ ภาพสวย เล่นง่าย สนุก พร้อมด้วยทีมงานมืออาชีพค่อยบริการท่านตลอด 24 ชั่วโมง สมัครเล่นวันนี้พร้อมรับโปรโมชั่น และของรางวัลมากมาย</span>
    </div>

       
    <div _ngcontent-cnh-c3="" class="container container_menu">
       <app-menu></app-menu>
    </div>
        
    <div _ngcontent-brq-c3="" class="area_bank">
        <div _ngcontent-brq-c3="" class="area_register">
            <div _ngcontent-brq-c3="" class="container" style="padding-top: 30px;">
                <div _ngcontent-brq-c3="" class="row">
                    <div _ngcontent-brq-c3="" class="col-2"></div>
                    <div _ngcontent-brq-c3="" class="col-8">
                        <div _ngcontent-brq-c3="" class="area_text_register"> ขั้นตอนการสมัคร </div>
                        <div _ngcontent-brq-c3="" class="area_main_menu row d-flex justify-content-center">
                            <div _ngcontent-brq-c3="" class="img_call">
                                <div _ngcontent-brq-c3="" class="text_in_img">ไลน์ ขอเลขที่บัญชี</div>
                            </div>
                            <div _ngcontent-brq-c3="" class="img_arrow">›</div>
                            <div _ngcontent-brq-c3="" class="img_bank">
                                <div _ngcontent-brq-c3="" class="text_in_img" style="margin-left: -15px;">โอนเงิน ผ่าน 6 ธนาคาร</div>
                            </div>
                            <div _ngcontent-brq-c3="" class="img_arrow">›</div>
                            <div _ngcontent-brq-c3="" class="img_line">
                                <div _ngcontent-brq-c3="" class="text_in_img" style="margin-left: -25px;">รอรับ SMS ไอดี, รหัสผ่าน</div>
                            </div>
                            <div _ngcontent-brq-c3="" class="hotoplay_btn" routerlink="/page/howtoplay" tabindex="0" ng-reflect-router-link="/page/howtoplay"></div>
                            <div _ngcontent-brq-c3="" class="register_btn" routerlink="/page/register" tabindex="0" ng-reflect-router-link="/page/register"></div>
                        </div>
                    </div>
                    <div _ngcontent-brq-c3="" class="col-2"></div>
                </div>
            </div>
        </div>
    </div>

    <div _ngcontent-brq-c3="" class="container" style="padding-top: 30px; ">
        <div _ngcontent-brq-c3="" class="area_bank_image"><img _ngcontent-brq-c3="" class="area_bank_img" src="/assets/images/content/banking.png"></div>
    </div>

    <div _ngcontent-brq-c3="" class="area_bottom">
        <div _ngcontent-brq-c3="" class="container" style="padding-top: 30px; text-align: center; padding-bottom: 30px; padding-left:15px; padding-right: 15px;">
            <div _ngcontent-brq-c3="" class="title_game">• เกมส์ออนไลน์ <span _ngcontent-brq-c3="" class="title_game2">918KISS</span> •</div>
            <div _ngcontent-brq-c3="" class="row game_casino game_padding">
                <div _ngcontent-brq-c3="" class="col"><img _ngcontent-brq-c3="" class="bottom_img bottom_img_padding" src="/assets/images/content/horse.png"></div>
                <div _ngcontent-brq-c3="" class="col"><img _ngcontent-brq-c3="" class="bottom_img bottom_img_padding" src="/assets/images/content/fishing.png"></div>
            </div>
            <div _ngcontent-brq-c3="" class="row game_casino game_padding">
                <div _ngcontent-brq-c3="" class="col"><img _ngcontent-brq-c3="" class="bottom_img bottom_img_padding" src="/assets/images/content/slot.png"></div>
                <div _ngcontent-brq-c3="" class="col"><img _ngcontent-brq-c3="" class="bottom_img bottom_img_padding" src="/assets/images/content/casino.png"></div>
            </div>
        </div>
        <div _ngcontent-brq-c3="" class="container" style="padding-top: 30px; margin-bottom: 15px;">
            <div _ngcontent-brq-c3="" class="row game_casino margin_install">
                <div _ngcontent-brq-c3="" class="col-md-4 nopadding_m">
                    <div _ngcontent-brq-c3="" class="top_install">
                        <div _ngcontent-brq-c3="" class="text_install">ติดตั้ง</div>
                        <div _ngcontent-brq-c3="" class="text_download">ดาวน์โหลด</div>
                    </div>
                    <div _ngcontent-brq-c3="" class="install_area">
                        <div _ngcontent-brq-c3="" class="detailLeft"><img _ngcontent-brq-c3="" class="icon_android" src="/assets/images/content/platform-icon-9664.png"></div>
                        <a _ngcontent-brq-c3="" href="http://a61.918kiss.com" target="_bank">
                            <div _ngcontent-brq-c3="" class="detailRight"><span _ngcontent-brq-c3="" class="textAndroid">Android</span></div>
                        </a>
                    </div>
                    <div _ngcontent-brq-c3="" class="install_area">
                        <div _ngcontent-brq-c3="" class="detailLeft"><img _ngcontent-brq-c3="" class="icon_android" src="/assets/images/content/ios-png-4078.png"></div>
                        <a _ngcontent-brq-c3="" href="http://k44.918kiss.com" target="_bank">
                            <div _ngcontent-brq-c3="" class="detailRight"><span _ngcontent-brq-c3="" class="textIOS">IOS Ip5+</span></div>
                        </a>
                    </div>
                    <div _ngcontent-brq-c3="" class="install_area">
                        <div _ngcontent-brq-c3="" class="detailLeft"><img _ngcontent-brq-c3="" class="icon_android" src="/assets/images/content/ios-png-4078.png"></div>
                        <a _ngcontent-brq-c3="" href="http://K26.918kiss.com" target="_bank">
                            <div _ngcontent-brq-c3="" class="detailRight"><span _ngcontent-brq-c3="" class="textIOS">IOS Ip5-</span></div>
                        </a>
                    </div>
                </div>
                <div _ngcontent-brq-c3="" class="col-md-8 install_right">
                    <div _ngcontent-brq-c3="" class="title_install_right">ข้อดีของการเป็นสมาชิก <span _ngcontent-brq-c3="" class="text_title_right">918KISSKING</span></div>
                    <br _ngcontent-brq-c3="">
                    <div _ngcontent-brq-c3="" class="des_install_right">• ฝาก-ถอน รวดเร็วทันใจไม่เกิน 8 นาที</div>
                    <div _ngcontent-brq-c3="" class="des_install_right">• ให้บริการตลอด 24 ชั่วโมง</div>
                    <div _ngcontent-brq-c3="" class="des_install_right">• มีเกมส์ให้เลือกเล่นกว่า 100 เกมส์</div>
                    <div _ngcontent-brq-c3="" class="des_install_right">• รองรับทั้งระบบ Android และ IOS</div>
                    <div _ngcontent-brq-c3="" class="des_install_right">• มั่นคง ปลอดภัย 100%</div>
                </div>
            </div>
        </div>
    </div>
<!-- 
<div class="qr-popup" style="display: block;">
    <i class="fa fa-window-close fa-6 close-qr" aria-hidden="true" style="display: block;"></i>
</div> -->
