<div _ngcontent-cnh-c4="" class="area_main_menu row d-flex ">
    <a _ngcontent-cnh-c4="" href="http://line.me/ti/p/~@918kisskiss" target="_bank">
        <div _ngcontent-cnh-c4="" class="line_phone"></div>
    </a>
    <div _ngcontent-cnh-c4="" class="img_deposit_m" routerLink="/page/deposit" tabindex="0" ng-reflect-router-link="/page/deposit">ฝาก</div>
    <div _ngcontent-cnh-c4="" class="img_withdraw_m" routerLink="/page/withdraw" tabindex="0" ng-reflect-router-link="/page/withdraw">ถอน</div>
    <div _ngcontent-cnh-c4="" class="area_menu">
        <div _ngcontent-cnh-c4="" class="img_deposit bounceIn animated" routerLink="/page/register" tabindex="0" ng-reflect-router-link="/page/register"></div>
        <div _ngcontent-cnh-c4="" class="img_withdraw bounceIn animated" routerLink="/page/withdraw" tabindex="0" ng-reflect-router-link="/page/withdraw"></div>
        <div _ngcontent-cnh-c4="" class="img_promotion bounceIn animated" routerLink="/promotion" tabindex="0" ng-reflect-router-link="/promotion"></div>
    </div>
</div>